<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../content/style.css">
    <!--<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">-->
    <title>Peliculas web</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../script/script.js"></script>

    <style>
        
    </style>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-row bd-example-row-flex-cols">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(6, 152, 249);">
        <div class="container-fluid">
          <a style="font-weight: bold; color: rgb(19, 39, 48);" class="navbar-brand" href="#">Peliculas</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="font-weight: bold; color: white; border: 2px solid white; padding: 5px 10px; border-radius: 4px;" class="nav-link active" aria-current="page" href="form.html">Gestionar Películas</a>
                <!--<a style="font-weight: bold; color: white;" class="nav-link active" aria-current="page" href="#">Gestionar</a>-->
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container text-left" style="margin-top: 56px;">  
        <div class="p-4">
            <h2>Todas las Películas</h2 >
        </div> 
        <div id="movieCards" class="row">
            <!-- Las cards se añadirán aquí dinámicamente -->
        </div>   
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: Domingo Sente
        </div>
    </footer>

    <script>        
    </script>
</body>

</html>